@charset "UTF-8";

.skills {
	background: rgba(197, 237, 201, 1);
	background-blend-mode: multiply;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(197, 237, 201, 1);
	height: 500px;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-weight: bold;
}
